:root {
  --main: white;
  --accent: #6ecaf5;
  --back: rgba(2, 21, 38, 0.4);
  color: var(--main);
}

/*BASE*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex !important;
}

.bold {
  font-weight: bold;
}

.blur-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--back);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.fade {
  transition: transform 0.2s ease, color 0.2s ease;
}

/*BAR*/

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: auto;
  padding: 12px 20px;
  z-index: 10;

  color: var(--main);
  text-align: center;
  font-weight: bolder;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

#topnav {
  width: 50%;
  margin-top: 10px;
  top: 0;
}

#topnav p {
  margin: 0;
}

#bottomnav {
  margin-bottom: 10px;
  width: 30%;
  bottom: 0;
}

/*SEARCH BAR*/
#searchbox {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--main);
  font-weight: bolder;
  font-size: 16px;
}

#searchbox::placeholder {
  color: var(--main);
  opacity: 0.7;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: none;
}

#search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

/*BOX*/

.box {
  width: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  max-height: 400px;
  min-width: 500px;
  z-index: 10;
  padding: 1rem;
  color: var(--main);
  border-radius: 10px;
}

.titlebox {
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  display: flex;
  width: 100%;
}

.titlebox a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
}

.box p {
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
}

.box hr {
  width: 100%;
  border-color: var(--main);
}

#resultBox {
  scrollbar-color: var(--accent) transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

#resultBox hr {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px dotted var(--accent);
}

.resultDiv {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item {
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  color: var(--main);
  text-decoration: none;
}

.parking:hover {
  color: var(--accent);
}

/*PARKING INFO*/

.text {
  justify-content: center;
  text-align: center;
  text-justify: auto;
}

.divInfo {
  display: flex;
  flex-direction: row;
}

.divInfo p {
  padding-right: 5px;
}

/*CONFIRM DIALOG*/

.dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dialog a {
  margin: 5px;
  font-size: 16px;
}

/*BUTTONS*/

.button a:link,
.button a:visited,
.button a:focus {
  color: var(--main);
}

.button {
  font-weight: bold;
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  font-size: 30px;
  transition: transform 0.2s ease, color 0.2s ease;
  outline: none;
  text-decoration: none;
}

.button:hover,
.button a:hover {
  color: var(--accent);
  transition: transform 0.2s ease, color 0.2s ease;
}

.littleButton {
  font-size: 18px;
}

/*NAVIGATION MODE TITLE*/

#itiniraireTitle {
  font-size: 24px;
}

/*MOBILE*/

@media screen and (max-width: 700px) {
  #topnav,
  .box,
  #ibox {
    min-width: unset;
    margin: 10px 0 0 0;
    width: 80%;
    max-height: 60%;
  }

  .box p,
  .item,
  .box .button {
    font-size: 13px;
  }

  #bottomnav {
    margin: 0 0 10px 0;
    width: 60%;
  }
}

/*LOADER ANIMATIONS*/

.loader {
  left: 0;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: var(--main) var(--accent);
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

/*HIDE GOOGLE MAPS LINKS*/
.gm-style-cc {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}
.gmnoprint div {
  background: none !important;
}
